body{
    font-family: 'Ubuntu', sans-serif;
}
h1{
    font-size: 50px;
}
.first-highlight{
    color: blue;
}
.half-side{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-side img{
    width: 100%;
}